<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <link rel="stylesheet" href="{% static 'mediaserver/style/vendor/bootstrap.css' %}" />
   <link rel="stylesheet" href="{% static 'mediaserver/style/base_style.css' %}" />

   <script src="{% static 'mediaserver/js/vendor/jquery-2.0.3.min.js' %}"></script>
   <script src="{% static 'mediaserver/js/base.js' %}"></script>
   <script src="{% static 'mediaserver/js/mediaserver/socket.js' %}"></script>

   {% block additional-head %}
   {% endblock %}

   <title>
      Media Server
      {% block title %}
      {% endblock %}
   </title>
</head>
<body>
   <div class='page'>
      <div class ='header'>
         <div class ='nav'>
            {# TODO(eriq): NAV #}
            {% if breadcrumbs %}
               <div class='breadcrumbs'>
                  {% for crumb in breadcrumbs %}
                     <span class='breancrumb'>
                        <a href='{% url 'browse' crumb.path %}'>{{ crumb.name }}</a>
                        {% if not forloop.last %}
                           >>
                        {% endif %}
                     </span>
                  {% endfor %}
               </div>
            {% endif %}
         </div>
      </div>
      {% if encode_details.encode_queue or encode_details.recent_cache %}
         <div class='page-content page-content-narrow'>
      {% else %}
         <div class='page-content'>
      {% endif %}
         {% if messages %}
            <div class='flash-message-area'>
               <ul class='flash-messages'>
                  {% for message in messages %}
                     <li {% if message.tags %} class="flash-message flash-{{ message.tags }}" {% endif %}>
                        {{ message }}
                     </li>
                  {% endfor %}
               </ul>
            </div>
         {% endif %}
         <div class='page-title'>
            <h1>
               {% block page-title %}
               {% endblock %}
            </h1>
         </div>
         <div class='content'>
            {% block content %}
            {% endblock %}
         </div>
      </div>
      {% if encode_details.encode_queue or encode_details.recent_cache %}
         <div class='right-pane'>
            {% if encode_details.encode_queue %}
               <div class='encode-queue'>
                  <p>Encode Queue</p>
                  {% for encode in encode_details.encode_queue %}
                     <div class='encode-item'>
                        <div class='encode-item-name'>
                           <a href='{% url 'view' encode.path %}'>{{ encode.name }}</a>
                        </div>
                        <div class='encode-item-time'>
                           {{ encode.time }}
                        </div>
                     </div>
                  {% endfor %}
               </div>

               {% if encode_details.recent_cache %}
                  <hr />
               {% endif %}
            {% endif %}
            {% if encode_details.recent_cache %}
               <div class='recent-cache'>
                  <p>Recent Encodes</p>
                  {% for encode in encode_details.recent_cache %}
                     <div class='encode-item'>
                        <div class='encode-item-name'>
                           <a href='{% url 'view' encode.path %}'>{{ encode.name }}</a>
                        </div>
                        <div class='encode-item-time'>
                           {{ encode.time }}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            {% endif %}
         </div>
      {% endif %}
   </div>
   <div class='footer'>
      {# TODO(eriq): Colophon #}
   </div>
</body>

</html>
