.filebrowser-container {
   padding: 10px;
}

.filebrowser-head-area {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: stretch;
   align-items: center;
   justify-content: space-between;
}

.filebrowser-context-actions-area {
   padding-right: 10px;
}

.filebrowser-context-actions-area i {
   font-size: 20px;
   color: #DDE3F3;
   cursor: pointer;
}

.filebrowser-head-area,
.filebrowser-body-area {
   padding: 5px;
   background-color: #292f40;
   border-radius: 5px;
   box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
}

.filebrowser-breadcrumbs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

.filebrowser-breadcrumb {
}

.filebrowser-breadcrumb span {
   padding-right: 10px;
   padding-left: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #DDE3F3;
   cursor: pointer;
}

/* Don't give special styling to the last element. */
.filebrowser-breadcrumbs > .filebrowser-breadcrumb:last-child span {
   color: #44556f;
   cursor: inherit;
   font-weight: inherit;
}

.filebrowser-breadcrumb-separator {
   color: #44556f;
}

.filebrowser-body-area {
   margin-top: 10px;
   height: 100%;
}
