{% extends "base.html" %}

{% load staticfiles %}

{% block additional-head %}
{% endblock %}

{% block title %}
   Browse {{ dir_name }}
{% endblock %}

{% block page-title %}
   {{ dir_name }}
{% endblock %}

{% block content %}
   <hr />

   <div class='browse-area'>
      {% if dirs %}
         <div class='browse-dir-area'>
            {% for dir in dirs %}
               <div class='dir-entry dir'>
                  <a href='{% url 'browse' dir.path %}'>{{ dir.name }}</a>
               </div>
            {% endfor %}
         </div>

         {% if files %}
            <hr />
         {% endif %}
      {% endif %}

      {% if files %}
         <div class='browse-file-area'>
            {% for file in files %}
               <div class='dir-entry file file-type-{{ file.type }}'>
                  <a href='{% url 'view' file.path %}'>{{ file.name }}</a>
               </div>
            {% endfor %}
         </div>
      {% endif %}
   </div>
{% endblock %}
