/* tables */
table.tablesorter {
   font-family: "Lucida Console", Monaco, monospace;
   background-color: #CDCDCD;
   font-size: 20pt;
   width: 100%;
   text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
   background-color: #292f40;
   color: #44556f;
   font-size: 22pt;
   padding: 4px;
}

table.tablesorter thead tr .header {
   background-image: url(bg.gif);
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}

table.tablesorter tbody td {
   color: #DDE3F3;
   padding: 4px;
   background-color: #292f40;
   vertical-align: top;
}

table.tablesorter tbody tr.odd td {
   background-color: #212737;
}

table.tablesorter thead tr .headerSortUp {
   background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
   background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
   background-color: #288cfb;
}
